  <div class="container col-12 p-1 text-light h-100">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-7">
        <%= image_tag 'home/image_2.png', class:"d-block mx-lg-auto img-fluid rounded-4", width:"700", height:"500", loading:"lazy" %>
      </div>
      <div class="col-5 h-100">
        <h1 class="display-3 fw-bold text-center">Expore your true potential</h1>
        <div class="lead text-center pb-4">Sign up now for personalized tests according to your needs or give it a try with our quick sample test!</div>
        <div class=" d-flex justify-content-center pt-4">
          <%= link_to 'Take me to Quick Test!', new_response_path(id: @quick_test.id), class:"btn btn-primary btn-lg px-4 me-md-2" %>
        </div>
      </div>
    </div>
  </div>