  <div class="container col-12 p-1 text-light h-100">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-8">
        <%= image_tag 'home/image_2.png', class:"d-block mx-lg-auto img-fluid", width:"700", height:"500", loading:"lazy" %>
      </div>
      <div class="col-4">
        <h1 class="display-5 fw-bold lh-1 mb-3">Expore your true potential</h1>
        <p class="lead">Sign up now for personalized tests according to your needs or give it a try with our quick test!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-center">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Take me to Quick Test!</button>
        </div>
      </div>
    </div>
  </div>